---
layout: layouts/base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
noindex: true
---

<h1>Page not found</h1>
<p>That URL does not exist. <a href="/">Start from the home page</a>.</p>
